body
{margin: 0;
  color: #40514E;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

hr {

  border: dotted #ffc7c7 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Allura', cursive;
  font-size: 5.625rem;
  color: #ff80b0;

  }

h2 {
font-family: 'Bree Serif', serif;
font-size: 2.5rem;
color: #ff80b0;
font-weight: normal;
padding-bottom: 10px;
}


.programmer {
  font-family: 'Bree Serif', serif;
  font-size: 2.5rem;
  color: #ff80b0;
  font-weight: normal;

}

.intro {
padding-bottom: 50px;
width: 30%;
margin: auto;
}

h3 {
font-family: 'Bree Serif', serif;
color: #9399ff;
}

p {
line-height: 2;
}

h4 {
font-family: 'Bree Serif', serif;
color: #11999E;
}

.top-container {
background-color:#a9fffd;
position: relative;
padding-top: 100px;
}
.middle-container {
margin: 0;
 }

.bottom-container {
padding: 50px 0 20px;
background-color: #ff80b0;
}
.pro {
  text-decoration: underline;
}

a {
  color: #ffc7c7;
  font-family: 'Raleway', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #9399ff;

}
.contact-message {
width: 40%;
margin: 40px auto 60px;

}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;

}
.bottom-cloud {
position: absolute;
left: 250px;
bottom: 300px;
}

.reena-img {
width: 15%;
}

.web-img {
width: 25%;
float: left;
margin-right: 30px;
}

.marketing-img {
width: 25%;
float: right;
margin-left: 30px;

}

.events-img {
width: 25%;
float: left;
margin-right: 30px;
border-radius: 50%
}

.talk-img  {
width: 15%;
}
.skill-row {
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.myButton {
	background-color:#939ff9;
	border-radius:25px;
	border:2px solid #ff80b1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1 0 #798cbd;
  margin-bottom: 30px;
}
.myButton:hover {
	background-color:#ff80b1;
}
.myButton:active {
	position:relative;

	top:1px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px, 0;
}
